html, body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0; }

.content-outside {
  min-height: 100%; }

.content-inside {
  padding: 20px;
  padding-bottom: 100px; }

.clear-float-div {
  clear: both; }

.overlay {
  position: absolute;
  z-index: 200;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none; }

body.error .overlay {
  display: block; }

body.error div.error-bar {
  z-index: 201;
  padding: 40px;
  background-color: grey;
  color: #ffffff;
  font-size: 18px;
  position: static;
  display: block !important;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: -200px;
  margin-top: -60px; }
  body.error div.error-bar a {
    color: black; }

span.error-label.invalid-network {
  display: none; }

span.error-label.no-metamask-accounts {
  display: none; }

span.error-label.no-metamask-plugin {
  display: none; }

span.error-label.no-account-access {
  display: none; }

body.error-invalid-network div.error-bar span.error-label.invalid-network {
  display: inline !important; }

body.error-no-metamask-accounts div.error-bar span.error-label.no-metamask-accounts {
  display: inline !important; }

body.error-no-metamask-plugin div.error-bar span.error-label.no-metamask-plugin {
  display: inline !important; }

body.error-no-account-access div.error-bar span.error-label.no-account-access {
  display: inline !important; }

#title-container {
  text-align: center; }
  #title-container #header-title {
    margin: 50px auto 0; }
  #title-container #header-subtitle {
    margin: 0 auto; }
  #title-container #header-quote {
    margin: 25px auto 0; }

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1; }

.cross {
  display: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: black;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1; }

.nav-menu {
  z-index: 1;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  top: 0px;
  right: 40px;
  width: 150px;
  text-align: center;
  display: none; }
  .nav-menu a {
    text-decoration: none;
    color: black; }
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }
    .nav-menu ul li {
      display: block;
      padding: 15px 0 15px 0; }
      .nav-menu ul li:hover {
        display: block;
        background: #ffffff;
        padding: 15px 0 15px 0; }

#content {
  margin-top: 75px; }

button {
  font-family: 'Merriweather', serif;
  cursor: pointer;
  border-radius: 2em; }
  button:focus {
    outline: 0; }

.dropdown-container {
  text-align: center;
  margin-top: 10px; }
  .dropdown-container .dropdown-button {
    width: 400px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.1em; }
    .dropdown-container .dropdown-button:hover {
      background-color: white;
      color: black; }
  .dropdown-container .dropdown-content-container {
    display: none;
    max-width: 400px;
    margin: 5px auto 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em; }
    .dropdown-container .dropdown-content-container p {
      padding: 10px;
      margin: 0px; }
    .dropdown-container .dropdown-content-container .float-button {
      background-color: #d9d9d9;
      color: black;
      padding: 10px;
      border-radius: 1em;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      border-width: 0;
      float: left;
      width: 45%;
      margin: 2.5%; }
      .dropdown-container .dropdown-content-container .float-button:hover {
        background-color: white;
        color: black; }

#post-challenge fantom-padding {
  padding: 5px; }
#post-challenge #post-title {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0; }
#post-challenge .user-input {
  margin: 10px; }
#post-challenge #user-category {
  padding: .3em;
  border-radius: 1em;
  border-width: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #d9d9d9;
  font-family: 'Merriweather', serif; }
  #post-challenge #user-category:focus {
    outline: 0; }
#post-challenge #submit-container button {
  margin: 2.5%;
  padding: .8em;
  border-radius: 1em;
  border-width: 0;
  width: 95%;
  background-color: #d9d9d9;
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
  #post-challenge #submit-container button:hover {
    background-color: white; }

#search-challenge {
  width: 400px;
  margin: 75px auto 0px;
  text-align: center; }
  #search-challenge #search-title {
    margin-top: 0;
    margin-bottom: 10px; }
  #search-challenge #search-results-container #searching-blockchain p {
    color: grey;
    font-size: 0.8em; }
  #search-challenge #search-results-container #searching-blockchain #spinner {
    margin: -10px auto 0;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid gray;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite; }
  #search-challenge #log-container {
    max-width: 1000px;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 0px auto 10px;
    background-color: #fff;
    display: none;
    border-radius: 1em; }
    #search-challenge #log-container .single-log-container {
      width: 100%;
      margin: 10px auto 0;
      padding: 0px 0 20px;
      border-bottom: solid 1px #d9dde0;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.15; }
      #search-challenge #log-container .single-log-container .title-span {
        position: relative;
        margin-bottom: 10px; }
        #search-challenge #log-container .single-log-container .title-span a {
          text-align: left;
          color: black;
          width: 190px;
          display: inline-block;
          float: left;
          text-decoration: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #search-challenge #log-container .single-log-container .title-span .tooltiptext {
          white-space: pre;
          font-size: .8em;
          visibility: hidden;
          bottom: 105%;
          background-color: white;
          border-radius: 6px;
          border-width: medium;
          border-style: solid;
          border-color: black;
          margin-left: 0px;
          padding: 10px;
          position: absolute;
          /* Position the tooltip ***Important***/ }
        #search-challenge #log-container .single-log-container .title-span:hover .tooltiptext {
          visibility: visible; }
      #search-challenge #log-container .single-log-container .icon {
        float: right;
        margin: -5px 15px 0px;
        position: relative; }
        #search-challenge #log-container .single-log-container .icon .tooltiptext {
          white-space: pre;
          font-size: .8em;
          visibility: hidden;
          bottom: 105%;
          background-color: white;
          border-radius: 6px;
          border-width: medium;
          border-style: solid;
          border-color: black;
          margin-left: 0px;
          padding: 10px;
          position: absolute;
          /* Position the tooltip ***Important***/ }
        #search-challenge #log-container .single-log-container .icon:hover .tooltiptext {
          visibility: visible; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#no-more-results-category {
  text-align: center;
  margin-top: -10px;
  color: #999;
  display: none; }

#loadmore-button {
  text-align: center;
  cursor: pointer;
  display: none; }

#loadmore-text {
  display: block;
  margin: 0 auto; }

footer {
  height: 50px;
  margin-top: -50px;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: grey; }

/*# sourceMappingURL=style.css.map */
