footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    #about-container {
        margin: 10px auto;

        a {
            font-size: .9em;
            text-decoration: none;
            color: black;
        }
    }

    #copyright-container {
        margin-top: 50px;

        a {
            text-decoration: none;
            color: grey;
        }
    }
}
