#title-container {
    text-align: center;

    #header-title {
        margin: 60px auto 0;
    }

    #header-subtitle {
        margin: 0 auto;
    }

    #header-quote {
        margin: 30px auto 0;
    }
}
