#post-challenge {
  width: 400px;
  margin: 75px auto 0;
  text-align: center;

  #post-title {
      margin-top: 0;
      margin-bottom: 10px;
  }

  .user-input {
      margin: 15px;
  }

  #submit-container {
      margin-top: 15px;
  }

}
