
#search-challenge {
    width: 400px;
    margin: 0 auto;
    text-align: center;

    #search-results-container {

        #searching-blockchain {

            p {
            color: grey;
            font-size: 0.8em;
            }

            #spinner {
                margin: -10px auto 0;
                border: 6px solid #f3f3f3;
                border-radius: 50%;
                border-top: 6px solid gray;
                width: 20px;
                height: 20px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }
        }
        //box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    }

    #log-container {
        max-width: 1000px;
        padding: 20px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
        margin: 0px auto 10px;
        background-color: #fff;
        display: none;

        .single-log-container {
            width: 100%;
            margin: 10px auto 0;
            padding: 0px 0 20px;
            border-bottom: solid 1px #d9dde0;
            display: block;
            font-size: 16px; // should be inherited from body
            font-weight: 400; // should be inherited from body
            line-height: 1.15; // should be inherited from html

            .title-span {
                position: relative;
                float: left;
                margin-right: 0em;
                display: inline-block;
                max-width: 70%;
                font-size: 1em;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                }

                .tooltiptext {
                    font-size: .8em;
                    visibility: hidden;
                    bottom: 105%;
                    background-color: white;
                    border-radius: 6px;
                    border-width: medium;
                    border-style: solid;
                    border-color: black;
                    margin-left: 0px;
                    padding: 10px;

                    /* Position the tooltip */
                    position: absolute;
                    z-index: 1;
                }

                &:hover .tooltiptext {
                    visibility: visible;
                }


            }




            .icon {
                float: right;
                margin: -5px 15px 0px;
                position: relative;

                .tooltiptext {
                    font-size: .8em;
                    visibility: hidden;
                    bottom: 105%;
                    background-color: white;
                    border-radius: 6px;
                    border-width: medium;
                    border-style: solid;
                    border-color: black;
                    margin-left: 0px;
                    padding: 10px;

                    /* Position the tooltip */
                    position: absolute;
                    z-index: 1;
                }

                &:hover .tooltiptext {
                    visibility: visible;
                }

            }

                // div {
                // white-space: pre;
                // text-align: center;
                // }


        }
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#no-more-results-category {

    text-align: center;
    margin-top: -10px;
    color: #999;
    display: none;
}

// Load-more
#loadmore-button {
    text-align: center;
    cursor: pointer;
    display: none;

}

#loadmore-text {
    display: block;
    margin: 0 auto;
}
